.about{
    /* background-color: cadetblue; */
    /* margin-top: -4.2%; */
    /* margin: 0% 12% 0% ; */
    /* width: 75%; */
    margin-top: 3%;

}
.aboutEmpty{
    height: 300px;
    background-image: url('./../pictures/AthensHead3.jpg');
    background-position: top;
    background-repeat: no-repeat;
}
.aboutHeader{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding:5%;
    border-radius: 8%;
    height: 90vh;
    background-color: #BA181B;
}
.about h2{
    font-size: 4rem;
    text-decoration: underline;
    /* border: 1px solid black; */
}
.aboutPic{
    width: 100%;

}
.skills{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding:5%;
    border-radius: 8%;
    width: 70%;
    margin-top:-9%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: #B1A7A6;  
}

.skillsContianer{
    display: flex;
    margin: 0% 12% 0% ;
    width: 75%;
    
    
    /* border: 1px solid black; */
}
.skills div{
    transition: all 1s ease;  
}
.skills div:hover{
    transform: translateY(-5%);
}
.frontend{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding:5%;
    width: 40%;
}

.backend{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding:5%;
    margin: 0 7% 0;
    width: 40%;

}
.other{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding:5%;
    width: 40%;

}
.skills h3{
    text-decoration: underline;
}
@media(max-width: 1400px){
    .aboutHeader{
        padding-bottom: 20%;
    }
}
@media(max-width: 700px){
    .aboutHeader{
        padding-bottom: 30%;
    }
    .skillsContianer{
        display: flex;
        margin: 0% 12% 0% ;
        width: 50%;
        
        
        /* border: 1px solid black; */
    }
}
@media(max-width: 600px){
    .aboutHeader{
        padding-bottom: 70%;
    }
    .skillsContianer{
        width: 85%;
        margin: 0% -4% 0%

    }
}
@media(min-width: 320px){
    .aboutHeader{
        padding-bottom: 70%;
    }
    .skillsContianer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0% 0% 10%;
        margin-bottom: 10%;

    }
    .backend{
        margin-bottom: 10%;
        margin-top: 10%;
    }
}

@media(max-width: 320px){
    .aboutHeader{
        padding-bottom: 110%;
    }
}