.home{
}
.homeHeader{
    display: flex;
    justify-content: center; 
}
.logo{
    background-color: black;
}
.logo img{
    margin-top: 1%;
    height: 15vh;
}
.homeHeader h2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    text-decoration: none;
    
    font-size: 4rem;
}
.me{
    border-radius: 30%;
    border: solid black 10px;
    height: 20%;
    margin:1%;
}

@media(max-width: 1100px){
    .homeHeader{
        flex-direction: column;
        align-items: center;
        margin-top:1%;
        margin-bottom: 1%; 
    }
    .home{
        /* height: 80vh; */
    }
}

@media(max-width: 780px){
    
    .homeHeader h2{
        font-size: 2.5rem;
    }
}
@media(max-width: 415px){
    .home{
        height: 95vh;
    }
    .homeHeader{
        display: flex;
        flex-direction: column;
    }
    .me{
        height: 30vh;
    }
}
@media(max-width: 320px){
    .homeHeader{
        display: flex;
        flex-direction: column;
    }
    .homeHeader h2{
        font-size: 2rem;
    }
}
